.clc-form {
    &__error {
        color: red;
    }

    &__error-link {
        text-decoration: none;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}
