@import 'src/index.scss';

.clc-welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;

    &__heading {
        margin: 0.2em 0 1em;
        font-size: 1.8em;
        text-transform: uppercase;
    }

    &__txt {
        line-height: 1.4em;
        font-size: 1.2em;
    }

    &__btn {
        margin: 1.5em 0 0.2em;
        padding: 0.6em 0.9em;
        background: $yellow;
        border: 1px solid #becccc;
        border-radius: 25px;
        box-shadow: 0 0px 11px 0px #d7d1d1;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: $orange;
        }
    }
}

@media screen and (min-width: 700px) {
    &__heading {
        margin-bottom: 1em;
    }

    &__btn {
        margin-top: 1em;
    }
}

@media screen and (min-width: 700px) and (min-height: 420px) {
    .clc-welcome {
        width: 80%;

        &__heading {
            margin-bottom: 1.6em;
            font-size: 2.5em;
        }

        &__txt {
            line-height: 1.6em;
            font-size: 1.4em;
        }

        &__btn {
            margin-top: 3em;
            padding: 0.7em 1em;
            font-size: 1.2em;
        }
    }
}

@media screen and (min-width: 992px) {
    .clc-welcome {
        width: 70%;
    }
}
