.clc-tooltip {
    margin-left: 3px;
    color: #27312c;

    // overwritten react-tooltip styles
    .__react_component_tooltip {
        padding: 10px 15px;
        max-width: 80vw;
        font-size: 13px;
    }

    .__react_component_tooltip.type-dark {
        background-color: #413838;
    }
}

@media screen and (min-width: 700px) {
    .clc-tooltip {
        .__react_component_tooltip {
            max-width: 460px;
            font-size: 16px;
        }
    }
}
