.clc-field {
    text-align: center;

    &__input {
        width: 170px;
        margin-right: 5px;
        padding: 3px;
        border: 0;
        outline: none;
        border: 1px solid #858b8b;
        border-radius: 4px;

        &--error {
            border: 1px solid red;
        }
    }
}

// overwritten default input type number styles
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

@media screen and (min-width: 360px) {
    .clc-field {
        &__input {
            width: 200px;
        }
    }
}
