.clc-btn {
    text-decoration: none;

    &:disabled {
        background: #d9d78f;
    }

    &:disabled:hover {
        background: #d9d78f;
    }

    &:disabled .clc-form__btn-arrow-inner {
        border: solid graytext;
        border-width: 0 3px 3px 0;
    }
}
