@import 'src/index.scss';

.clc-form-progress {
    position: relative;
    width: 100%;
    height: 16px;
    margin-bottom: 1em;
    border-radius: 50px;
    border: 1px solid #858b8b;

    &__step {
        background: $cyan;
        height: 100%;
        border-radius: inherit;
    }
}

@media screen and (min-width: 360px) {
    .clc-form-progress {
        width: 300px;
        margin: 0 auto 1em;
    }
}
