@import 'src/index.scss';

.clc-back-btn {
    padding: 0.4em 0.3em;
    background: $yellow;
    border: 1px solid #becccc;
    box-shadow: 0 0px 2px 0px #d7d1d1;
    cursor: pointer;

    &--margin {
        margin-right: 0.8em;
    }

    &:hover {
        background: $orange;
    }
}

@media screen and (min-width: 360px) {
    .clc-back-btn {
        padding: 0.4em 0.6em;
    }
}
