@import 'src/index.scss';

.clc-form {
    padding: 15px;
    line-height: 1.3em;

    &__heading-txt {
        margin-bottom: 2.2em;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.4em;
    }

    &__icon {
        display: flex;
        justify-content: center;
        padding: 0.3em;
        font-size: 3em;
        color: $cyan;
    }

    &__question {
        margin: 1.8em 0 1em;
    }

    &__btn-wrap {
        display: flex;
        justify-content: space-between;
        margin: 1em 0 1.7em;

        &--right {
            justify-content: flex-end;
        }
    }

    &__btn {
        padding: 0.4em 0.3em;
        background: $yellow;
        border: 1px solid #becccc;
        box-shadow: 0 0px 2px 0px #d7d1d1;
        cursor: pointer;

        &:hover {
            background: $orange;
        }
    }

    &__btn-arrow {
        display: inline-block;
        margin-left: 5px;
    }

    &__btn-arrow-inner {
        display: inline-block;
        padding: 3px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@media screen and (min-width: 360px) {
    .clc-form {
        text-align: center;

        &__btn-wrap {
            justify-content: center;
        }

        &__btn {
            padding: 0.4em 0.6em;
        }
    }
}

@media screen and (min-width: 700px) {
    .clc-form {
        width: 600px;
        margin: 0 auto;
        padding: 50px 15px;
        font-size: 1.2em;

        &__heading-txt {
            font-size: 1.4em;
        }

        &__question {
            margin: 1.8em 0 1.8em;
        }

        &__btn-wrap {
            margin: 2.2em 0 1.7em;
        }
    }
}
