/* react-table package styles are imported in index.scss */

.clc-results-more {
    padding: 15px;
    line-height: 1.3em;

    &__table {
        max-width: 900px;
        margin: 3em auto;
        border: none;

        .rt-thead .rt-th,
        .rt-tbody .rt-td {
            border-right: none;

            &-cursor-pointer,
            &-cursor-pointer {
                cursor: text;
            }
        }

        .rt-thead.-header {
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
        }

        .rt-thead .rt-th {
            outline: none;
        }

        .rt-tbody .rt-td {
            text-align: center;
            line-height: 1.15;
            white-space: normal;
            min-height: 32px;

            &:first-child {
                text-align: left;
            }
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
    }
}

@media screen and (min-width: 360px) {
    .clc-results-more {
        text-align: center;

        &__btn-wrap {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 700px) {
    .clc-results-more {
        width: 600px;
        margin: 0 auto;
        padding: 50px 15px;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 880px) {
    .clc-results-more {
        width: 860px;
    }
}
