/* react-table package styles */
@import 'node_modules/react-table/react-table';

.clc-app {
    font-family: 'Roboto', sans-serif;

    // transparent background image
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('~/src/static/img/bg.jpeg');
        background-position: center;
        background-size: cover;
        z-index: -1;
    }

    &::after {
        content: '';
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #f6f6f6;
        z-index: -1;
        opacity: 0.55;
    }
}

/* colors used throughout the app */
$cyan: #2ab1a4;
$yellow: #f6da17;
$orange: #f0c324;
