/* react-table package styles are imported in index.scss */
@import 'src/index.scss';

.clc-results {
    padding: 15px;
    line-height: 1.3em;

    &__heading {
        margin-bottom: 2.2em;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.4em;
    }

    &__txt {
        text-transform: uppercase;
    }

    &__table {
        max-width: 700px;
        margin: 3em auto;
        border: none;

        .rt-thead .rt-th,
        .rt-tbody .rt-td {
            border-right: none;

            &-cursor-pointer,
            &-cursor-pointer {
                cursor: text;
            }
        }

        .rt-thead.-header {
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
        }

        .rt-thead .rt-th {
            outline: none;
        }

        .rt-tbody .rt-td {
            text-align: center;
            line-height: 1.15;
            white-space: normal;
            min-height: 32px;

            &:first-child {
                text-align: left;
            }
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
    }

    &__btn {
        margin-right: 0.2em;
        padding: 0.4em 0.3em;
        background: $yellow;
        border: 1px solid #becccc;
        box-shadow: 0 0px 2px 0px #d7d1d1;
        cursor: pointer;

        &:hover {
            background: $orange;
        }
    }

    &__error {
        color: red;
    }

    &__error-link {
        text-decoration: none;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 360px) {
    .clc-results {
        text-align: center;

        &__btn-wrap {
            justify-content: center;
        }

        &__btn {
            margin-right: 0.6em;
            padding: 0.4em 0.6em;
        }
    }
}

@media screen and (min-width: 700px) {
    .clc-results {
        width: 600px;
        margin: 0 auto;
        padding: 50px 15px;
        font-size: 1.2em;

        &__heading {
            font-size: 1.4em;
        }
    }
}
