@import 'src/index.scss';

.clc-radio {
    &__quality {
        display: none;

        &:checked + .clc-radio__lbl:before {
            content: '\2022';
            font-size: 3rem;
            text-align: center;
            line-height: 14px;
            background: #fff;
            padding: 5px 0 1px;
            color: $cyan;
        }
    }

    &__lbl {
        line-height: 32px;

        &:before {
            display: inline-block;
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-left: 0;
            margin-right: 10px;
            content: '\2022';
            font-size: 0px;
            background: #fff;
            border-radius: 50%;
            line-height: 14px;
            box-shadow: 0px 0px 1px 1px #b2abab;
        }
    }
}

@media screen and (min-width: 700px) {
    .clc-radio {
        margin: 0.3em 0;
    }
}
